h,
p {
    margin: 0px;
    padding: 0px;
}

.profile-main {
    height: fit-content;
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    background-color: rgb(231, 227, 227);
}

.profile-container {
    width: 75%;
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-row-gap: 10px;
}

.user-details {
    border: 1px solid rgb(206, 205, 205);
    grid-row: 1;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*grid-column-gap: 30px; */
    box-shadow: 6px 5px 9px -5px var(--shadow-container-color);
}

.profile-posts-section {
    border: 1px solid rgb(206, 205, 205);
    grid-row: 2;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 6px 5px 9px -5px var(--shadow-container-color);
    display: grid;
    grid-template-rows: 50px 1fr;
    height: fit-content;
}

.posts-header {
    grid-row: 1;
    display: flex;
}

.profile-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--primary);
    color: white;
    font-size: 25px;
}

.profile-posts.selected {
    background-color: var(--secondary-dark);
}

.profile-posts:hover, .post-element .post-like-count:hover, .post-element .post-comment-count:hover {
    opacity: 0.6;
    cursor: pointer;
}

.user-info {
    grid-column: 2;
    align-self: center;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Gill Sans', sans-serif;
}

.profile-picture {
    grid-column: 1;
    border-radius: 50%;
    background-color: var(--secondary);
    width: 150px;
    height: 150px;
    align-self: center;
    justify-self: center;
    border: 3px solid var(--secondary-dark);
    position: relative;
}

.photo-name {
    position: absolute;
    color: #fff;
    font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.post-element {
    margin-top: 10px;
    margin-left: 10px;
    width: calc(100% - 22px);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Gill Sans', sans-serif;
    padding: 5px;
}

.post-element:last-child {
    margin-bottom: 10px;
}

.post-element .post-author-fullname {
    font-size: 25px;
    line-height: 30px;
}

.post-element .post-text-content {
    font-size: 20px;
    width: 100%;
    margin-bottom: 5px;white-space: pre-wrap;
}

.post-element .post-like-count, .post-element .post-comment-count {
    padding: 2px;
    background-color: var(--secondary);
    color: white;
    border: 1px solid var(--secondary-dark);
    margin-right: 20px;
    font-size: 15px;
}

.post-author-picture-container {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.post-author-profile-picture {
    border-radius: 50%;
    background-color: var(--secondary);
    border: 1px solid var(--secondary-dark);
    position: relative;
    width: 28px;
    height: 28px;
}

.post-author-photo-name {
    position: absolute;
    color: #fff;
    line-height: 26px;
    font-size: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.posts-empty-wrapper {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts-empty-message {
    font-family: 'Gill Sans', sans-serif;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    .user-info {
        font-size: 12px;
    }

    .profile-picture {
        min-width: 20px;
        width: 50px;
        height: 50px;
    }

    .profile-container {
        width: 75%;
        display: grid;
        grid-template-rows: 100px 1fr;
        grid-row-gap: 10px;
    }

    .photo-name {
        font-size: 25px;
    }

    .profile-posts {
        font-size: 12px;
    }

    .profile-picture-container {
        min-width: 70px;
    }

    .post-element .post-author-fullname {
        font-size: 15px;
        line-height: 20px;
    }

    .post-element .post-text-content {
        font-size: 12px;
    }

    .post-element .post-like-count, .post-element .post-comment-count {
        font-size: 8px;
    }

    .post-author-picture-container {
        width: 20px;
        height: 20px;
    }

    .post-author-profile-picture {
        width: 18px;
        height: 18px;
    }

    .post-author-photo-name {
        line-height: 15px;
        font-size: 8px;
    }

    .posts-empty-wrapper {
        height: 150px;
    }

    .posts-empty-message {
        font-size: 15px;
    }
}
