html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcfcfc;
}

h1 {
    font-size: medium;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

:root {
    --shadow-container-color: #00363a;
}