body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login-container {
    padding: 35px 45px;
    margin: 200px auto auto auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #4fb3be;
    border-radius: 3px;
    box-shadow: 5px 5px 5px var(--shadow-container-color);
}

.login-container > h3 {
    margin: auto auto 10px;
    font-weight: 700;
    cursor: default;
    color: #00363a;
}

.login-container > p {
    margin: 0;
    text-align: center;
}

.login-container > p > a {
    color: #005661;
}

.login-container > p > a:active {
    color: white;
}

.login-container > input {
    padding: 5px;
    margin: 10px auto auto auto;
    width: 100%;

    border-radius: 3px;
    border: none;
    box-shadow: 3px 3px 3px #006064;
}

.login-container > button {
    width: 100px;
    margin: 20px auto;
    padding: 10px 20px;

    background-color: #005661;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.login-container > button:hover {
    transform: scale(1.05);
    background-color: #00363a;
}

@media only screen and (max-width: 768px) {
    .login-container {
        width: 90vw;
        box-sizing: border-box;
    }
}

