.container {
  display: grid;
}

.content {
  width: 75%;
  height: 100%;
  justify-self: center;
  display: grid;
  grid-auto-rows: min-content;
  margin-top: 10px;
  margin-bottom: 20px;
  row-gap: 20px;
  box-sizing: border-box;
}

.section-add-new {
  display: grid;
  grid-template-rows: auto 50px;
  row-gap: 5px;
  box-shadow: 5px 5px 10px #00363a;
  padding: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.section-add-new .post-input {
  resize: none;
  border: 2px inset #006978;
  font-size: 1.5rem;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.section-add-new .btn-add-new {
  align-self: center;
  justify-self: end;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #00838f;
  color: #fff;
  border: 0;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.section-add-new .btn-add-new:hover {
  background-color: #005662;
}

.section-latest-posts {
  display: grid;
  grid-template-rows: minmax(50px, auto) auto;
  row-gap: 30px;
  box-shadow: 5px 5px 10px #00363a;
  padding: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.section-latest-posts .list-title {
  font-size: 2rem;
  color: #005662;
  align-self: center;
  justify-self: center;
  cursor: default;
  font-weight: 700;
}

.edit-form {
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
}

.edit-form .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: #000;
  z-index: 2;
}

.edit-form .form-box {
  align-self: center;
  justify-self: center;
  width: 75%;
  display: grid;
  grid-template-rows: 150px 50px;
  z-index: 3;
}

.form-box .edit-input {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  border: 5px solid #005662;
  padding: 5px;
}

.form-box .form-options {
  justify-self: end;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 10px;
}

.form-options > * {
  background-color: #00838f;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.form-options > *:hover {
  background-color: #005662;
}

.noscroll {
  overflow: hidden;
}

.post-item .comment-section {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 20px;
}

.comment-section .section-add-comment {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.section-add-comment .add-comment-input {
  resize: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
}

.comment-section .add-comment-btn {
  align-self: center;
  justify-self: end;
  font-size: 1rem;
  background-color: #00838f;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.section-comments-list > *:not(:last-child) {
  margin-bottom: 20px;
}

.section-comments-list .comment-item {
  display: grid;
  grid-template-rows: repeat(2,auto);
  row-gap: 5px;
  border-bottom: 1px solid #00838f;
  padding: 10px;
}

.comment-item .comment-author {
  font-size: 1.25rem;
  font-weight: 700;
  color: #005662;
}

.comment-item .comment-text {
  overflow-x: auto;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
    padding: 0 10px;
  }

  .section-add-new .btn-add-new {
    justify-self: center;
    width: 100%;
  }
}